.wallet-value {
  height: 30px;
  margin: 10px;
  background: #e9212a;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
